:root {
  --primary-bg: #d8d0bc;
  --primary: #564e3f;
  --secondary: #2f3a2e;

  --default-spacing: 1rem;
  --nav-height: 8rem;
  --foot-height: 10rem;
}

* {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.8rem;
  color: var(--primary);
}

body {
  background-color: var(--primary-bg);
}

/* Sizing */
.mb {
  margin-bottom: var(--default-spacing);
}

.mt {
  margin-top: var(--default-spacing);
}

.ml-2 {
  margin-left: calc(var(--default-spacing) * 2);
}

.my {
  margin-top: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}

.px {
  padding: 0 var(--default-spacing);
}

/* Flex classes */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: var(--default-spacing);
}

.gap-4 {
  gap: calc(var(--default-spacing) * 4);
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* PAGE SPECIFICS */

.logo__nav {
  width: 10rem;
  height: 10rem;
  background-image: url("assets/logo/78a7ba0d-5137-4f87-9097-449c786e82eb.svg");
  background-size: cover;
}

.logo__nav:hover {
  cursor: pointer;
}

.logo__home {
  width: 20rem;
  height: 20rem;
  background-image: url("assets/logo/78a7ba0d-5137-4f87-9097-449c786e82eb.svg");
  background-size: cover;
}

nav {
  color: var(--primary);
  /* background-color: white; */
}

ul {
  padding: 0;
}

nav ul > li,
main ul > li {
  list-style-type: none;
}

ul > li > a {
  text-decoration: none;
  color: var(--primary);
}

ul > li:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease;
}

footer {
  background-color: rgba(0, 0, 0, 0.35);
  height: var(--foot-height);
}
